.header{
    background-color:rgb(42, 120, 165);
    height: 100px;
}
h6{
    padding-left: 100px;
}
.aside{
   height: 1100px; 
   background-color:rgb(42, 120, 165);
}
img{
    width: 40%;
    height: 200px;
    margin-left: 29%;
    margin-top: -81px;
    border: solid 5px white;
}
.section1{
    margin-top: -1100px;
  margin-left: 25%;
}
.section2{
    margin-top: 45px;
    margin-left: 25%;
}
.section3{
    margin-top: 45px;
    margin-left: 25%;
}
.section4{
    margin-top: 45px;
    margin-left: 25%;
}